* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Tweak content of examples for optimum awesome */
.ec-lite p:last-child,
.ec-lite ul:last-child,
.ec-lite ol:last-child,
.ec-lite blockquote:last-child,
.ec-lite .form-control:last-child,
.ec-lite .table:last-child,
.ec-lite .navbar,
.ec-lite .jumbotron,
.ec-lite .alert:last-child,
.ec-lite .panel:last-child,
.ec-lite .list-group:last-child,
.ec-lite .well:last-child,
.ec-lite .progress:last-child,
.ec-lite .table-responsive:last-child > .table {
  margin-bottom: 0;
}

/* line 51, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 1, ../sass/modules/_home-owner.scss */
.fading-panel {
  overflow: hidden;
  background-color: #042e47;
}
/* line 6, ../sass/modules/_home-owner.scss */
.fading-panel.closed {
  max-height: 0;
}
/* line 10, ../sass/modules/_home-owner.scss */
.fading-panel.transitions {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 23, ../sass/modules/_home-owner.scss */
.fading-panel-inner {
  padding-top: 2em;
  min-width: 200px !important;
  color: #FFF;
  overflow: auto;
}

/**
 * Home screen
 */
body {
  background-color: #8ec449;
}
.home {
  position: relative;
  overflow: hidden;
}
/* line 122, ../sass/modules/_home-owner.scss */
.user-login-open {
  cursor: pointer;
  position: absolute;
  right: 10%;
  top: -10px;
  width: 5em;
  padding: 72px 10px 10px 10px;
  border-radius: 0 0 1em 1em;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("../images/home_owner_toggle_blank.svg");
  background-position: center 0;
  background-repeat: no-repeat;
  color: #717073;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: wobble;
  -moz-animation-name: wobble;
  -o-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}

/* line 1, ../sass/modules/_main-nav.scss */
.html--fixed-nav {
  margin-top: 10vh;
}

/* line 5, ../sass/modules/_main-nav.scss */
.main-nav {
  position: relative;
  z-index: 9999;
  background-color: #FFF;
}

#main-nav-inner-wrapper.affix, .main-nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 12, ../sass/modules/_main-nav.scss */
.main-nav.inner-wrapper {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 5px 15px #999999;
  -moz-box-shadow: 0 5px 15px #999999;
  box-shadow: 0 5px 15px #999999;
}

/* line 21, ../sass/modules/_main-nav.scss */
.main-nav.inner {
  position: relative;
  z-index: 1;
  background-image: url("../images/auger-logo-small.svg");
  background-position: right center;
  background-repeat: no-repeat;
}
@media (max-width: 600px) {
  /* line 21, ../sass/modules/_main-nav.scss */
  .main-nav.inner {
    background-image: none;
  }
}

/* line 41, ../sass/modules/_main-nav.scss */
.main-nav-link {
  display: inline-block;
  /* padding: 2.5% 7.5%; */
  color: #717073;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: color 0.1s, background-color 0.5s, padding 0.5s, width 0.2s;
  -moz-transition: color 0.1s, background-color 0.5s, padding 0.5s, width 0.2s;
  -o-transition: color 0.1s, background-color 0.5s, padding 0.5s, width 0.2s;
  transition: color 0.1s, background-color 0.5s, padding 0.5s, width 0.2s;
}

.main-nav .navbar {
  border-bottom-color: rgba(142, 196, 73, 0.7);
  border-top-color: rgba(142, 196, 73, 0.7);
  border-radius: 0;
}

ul.nav {
}
.nav>li>a.main-nav-link {
}
ul.nav li a.main-nav-link {
  /* padding: 2.5% 7.5%; */
  color: #717073;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: color 0.1s, background-color 0.5s, padding 0.5s, width 0.2s;
  -moz-transition: color 0.1s, background-color 0.5s, padding 0.5s, width 0.2s;
  -o-transition: color 0.1s, background-color 0.5s, padding 0.5s, width 0.2s;
  transition: color 0.1s, background-color 0.5s, padding 0.5s, width 0.2s;
}
ul.nav li.active a, ul.nav li.active a:hover, .main-nav-link:hover  {
  background-color: rgba(142, 196, 73, 0.7);
  color: #FFF;
}

/* line 52, ../sass/modules/_main-nav.scss */
.nav>li>a.main-nav-link:hover, .nav>li>a.main-nav-link:hover, .main-nav-link:hover {
  background-color: rgba(142, 196, 73, 0.7);
  color: #FFF;
}
@media (max-width: 1030px) {
  /* line 41, ../sass/modules/_main-nav.scss */
  .main-nav-link {
    padding: 2.5% 4.5%;
  }
}
@media (max-width: 600px) {
  /* line 41, ../sass/modules/_main-nav.scss */
  .main-nav-link {
    width: 25%;
    padding: 2.5% 0;
  }
}
