<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ec-lite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JSONServlet</display-name>
    <servlet-name>JSONServlet</servlet-name>
    <servlet-class>org.cath.ec.servlet.JSONServlet</servlet-class>
    <init-param>
      <description>The connection string</description>
      <param-name>connectionString</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONServlet</servlet-name>
    <url-pattern>/JSONServlet</url-pattern>
    <url-pattern>/json.ec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CentralServlet</display-name>
    <servlet-name>CentralServlet</servlet-name>
    <servlet-class>org.cath.ec.servlet.CentralServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CentralServlet</servlet-name>
    <url-pattern>/CentralServlet</url-pattern>
    <url-pattern>/remove.ec</url-pattern>
    <url-pattern>/add.ec</url-pattern>
    <url-pattern>/update.ec</url-pattern>
  </servlet-mapping>
</web-app>