<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ec?useUnicode=true</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">sa12345</property>
  <property name="hibernate.connection.useUnicode">true</property>
  <property name="hibernate.connection.characterEncoding">UTF-8</property>
  <!--
		 Enable Hibernate's automatic session context management 
        <property name="current_session_context_class">thread</property>
         Disable the second-level cache  
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		-->
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLMyISAMDialect</property>
  <property name="hibernate.show_sql">true</property>

    <mapping resource="org/cath/ec/hbm/Course.hbm.xml"/>
    <mapping resource="org/cath/ec/hbm/Date.hbm.xml"/>
    <mapping resource="org/cath/ec/hbm/Grade.hbm.xml"/>
    <mapping resource="org/cath/ec/hbm/Permission.hbm.xml"/>
    <mapping resource="org/cath/ec/hbm/Profile.hbm.xml"/>
    <mapping resource="org/cath/ec/hbm/Role.hbm.xml"/>
    <mapping resource="org/cath/ec/hbm/Room.hbm.xml"/>
    <mapping resource="org/cath/ec/hbm/SchoolYear.hbm.xml"/>
    <mapping resource="org/cath/ec/hbm/Semester.hbm.xml"/>
    <mapping resource="org/cath/ec/hbm/Session.hbm.xml"/>
    <mapping resource="org/cath/ec/hbm/User.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
